<h1 class="text-center mt-3">{{title}}</h1>
<div class="container">
  <h1>New message</h1>
  <form method="POST" action="/new">
    <input name="author" type="text" placeholder="name">
    <input name="text" type="text" placeholder="message">
    <input type="submit" class="btn btn-primary">
  </form>
  <a href="/" class="btn btn-secondary">back home</a>
</div>

